#
# K2HDKC PHP Extension library
# 
# Copyright 2023 Yahoo Japan Corporation.
# 
# K2HDKC is k2hash based distributed KVS cluster.
# K2HDKC uses K2HASH, CHMPX, FULLOCK libraries. K2HDKC supports
# distributed KVS cluster server program and client libraries.
# 
# For the full copyright and license information, please view
# the license file that was distributed with this source code.
#
# AUTHOR:   Hirotaka Wakabayashi
# CREATE:   Tue, Feb 22 2022
# REVISION:
#

#
# Wildcards
#
*.dep
*.o
*.lo
*.a
*.la
*.so
*.gcno
*.gcda
*.rpm
*.deb
.*~

#
# Autotools Files
#
acinclude.m4
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.nice
config.status
config.sub
configure
configure.in
configure.ac
install-sh
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
build
include
libtool

#
# Created by configure
#
buildutils/k2hdkcpx.ini
buildutils/php-pecl-k2hdkc.spec
buildutils/control
buildutils/control.in
buildutils/copyright
buildutils/rules
buildutils/watch
buildutils/upstream/metadata
buildutils/APKBUILD.templ

#
# Directries
#
.libs
.deps
mkinstalldirs
modules
packages
packages/*

#
# Files and Directories for packaging
#
run-tests.php
php-pecl-k2hdkc.spec
rpmbuild/
rpmbuild/*
debian_build/
debian_build/*
buildutils/APKBUILD.templ

#
# Test files
#
tmp-php.ini
tests/*.diff
tests/*.out
tests/*.php
tests/*.exp
tests/*.log
tests/*.sh

#
# Local variables:
# tab-width: 4
# c-basic-offset: 4
# End:
# vim600: noexpandtab sw=4 ts=4 fdm=marker
# vim<600: noexpandtab sw=4 ts=4
#
